* {
    font-family: sans-serif;
}

body {
    background-color: #CC8046;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-color: white;
    padding: 3%;
}

nav a {
    color: #191F24;
    text-decoration: none;
    padding: 1%;
    font-size: 4vh;
    width: 20vw;
    height: 5vh;
    text-align: center;
}


.turk {
    height: 85px;
    width: 100px;
}

.hero {
    background-image: url(images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;

}

.images {
    height: 80vh;
    width: 50vw;
}

.hero h2 {
    display: inline-block;
    background-color:#878788;
    width: 20vw;
    font-size: 8vh;
}

h3 {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
    background-color: #878788;
    height: 6vh;
}

.info1 {
    display: flex;
    flex-direction: row;
}

.info1 p {
    margin-left: 50px;
    margin-top: 10%;
    width: 500px;
    font-size: 4vh;
}

h4 {
    text-align: center;
    font-size: 3vh;
    margin-top: 3%;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.info2 {
    background-color: #878788;
    width: 40vw;
    height: 40vh;
    color: white;
    text-align: center;
}

.info3 {
    background-color: #878788;
    width: 40vw;
    height: 40vh;
    color: white;
    text-align: center;
}

.e {
    margin-left: 5%;
    font-size: 3vh;
    color: white;
}



h5 {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
    background-color: #878788;
    height: 6vh;
}

.info4 {
    display: flex;
    flex-direction: row;
}

.info4 p {
    margin-left: 50px;
    margin-top: 10%;
    width: 500px;
    font-size: 4vh;
}

h6 {
    text-align: center;
    font-size: 3vh;
    margin-top: 3%;
    color: white;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.info5 {
    background-color: #878788;
    width: 40vw;
    height: 40vh;
    color: white;
    text-align: center;
}

.info6 {
    background-color: #878788;
    width: 40vw;
    height: 40vh;
    color: white;
    text-align: center;
}

.e {
    margin-left: 5%;
    font-size: 3vh;
    color: white;
}


.h {
    font-size: 5vh;
    text-align: center;
    margin-top: 10%;
    background-color: #878788;
}

.image {
    height: 40vh;
    width: 40vw;
}

.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 5%;
}

.info7 {
    background-color: #878788;
    height: 70vh;
}

.info7 p {
    margin-left: 3%;
    width: 480px;
    font-size: 2.5vh;
}

.info8 {
    background-color: #878788;
    height: 70vh;
}

.info8 p {
    margin-left: 3%;
    width: 480px;
    font-size: 2.5vh;
}

.bottom1 {
    background-color: #191F24;
    color:white;
    height: 5vh;
    width: 10vw;
    margin-left: 60%;
}

.bottom2 {
    background-color: #191F24;
    color:white;
    height: 5vh;
    width: 10vw;
    margin-left: 60%;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
}

.middle p  {
    color: black;
    font-size: 5vh;
    
}

.end {
    height: 100px;
    width: 100px;
}

.turk2 {
    height: 15vh;
}
