* {
    font-family: sans-serif;
}

body {
    background-color: #8C031C;
}

nav a {
    color: #191F24;
    text-decoration: none;
    background-color: #878788;
    padding: 1%;
    font-size: 4vh;
    width: 20vw;
    height: 5vh;
    text-align: center;
}
.top {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.hero {
    background-image: url(images/image1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 40vw;
    height: 40vh;
    background: transparent;
    border: 1px solid black;
    
}

.box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border: 1px solid black;
    display: flex;
    align-items: center;
    
}

.box, h1, p {
    text-align: center;
    color: white;
}

.image {
    width: 50vw;
    height: 70vh;

}

.information {
    margin-top: 15%;
}
h2 {
    text-align: center;
    color: white;
    font-size: 8vh;
}

.info {
    margin-top: 10%;
    display: flex;
    flex-direction: row; 
}

.info p {
    font-size: 3vh;
    margin-top: 10%;
    width: 500px;
    margin-left: 20%;
}

.under {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.b1 {
    height: 5vh;
    width: 8vw;
    margin-top: 10%;
    margin-left: 50%;
    background-color: black;
    color: white;
}

.information2 {
    margin-top: 5%;
}

h3 {
    text-align: center;
    color: white;
    font-size: 8vh;
}

.info2 {
    margin-top: 10%;
    display: flex;
    flex-direction: row; 
}

.info2 p {
    font-size: 3vh;
    margin-top: 10%;
    width: 500px;
    margin-left: 20%;
}

.under2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.b2 {
    height: 5vh;
    width: 8vw;
    margin-top: 10%;
    margin-left: 50%;
    background-color: black;
    color: white;
}

.information3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

h4 {
    text-align: center;
    color: white;
    font-size: 8vh;
}

.info3 {
    margin-top: 10%;
    display: flex;
    flex-direction: row; 
}

.info3 p {
    font-size: 3vh;
    margin-top: 10%;
    width: 500px;
    margin-left: 20%;
}

.under3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.b3 {
    height: 5vh;
    width: 8vw;
    margin-top: 10%;
    margin-left: 50%;
    background-color: black;
    color: white;
}


footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
}

.middle p  {
    color: black;
    font-size: 5vh;
    
}

.end {
    height: 100px;
    width: 100px;
}

@media screen and (min-width: 520px) and (max-width: 563px) {
  .body {
    height: fit-content;
    width: fit-content;
  }

  nav a {
   
    padding: 2%;
    font-size: 2vh;
  }

  .end {
    margin-top: 3%;
  }

  
  .info p{
    font-size: 2vh;
    width: 200px;
}

.info2 p {
    font-size: 2vh;
    width: 200px;
}

.info3 p {
    font-size: 2vh;
    width: 200px;
}
}


@media screen and (min-width: 563px) and (max-width: 652px) {
    .end {
        margin-top: 7%;
        
    }

    nav a {
   
        padding: 2%;
        font-size: 2vh;
      }

    .info p{
        font-size: 2vh;
        width: 200px;
    }

    .info2 p {
        font-size: 2vh;
        width: 200px;
    }

    .info3 p {
        font-size: 2vh;
        width: 200px;
    }
}


@media screen and (min-width: 653px) and (max-width: 690px) {
    .end {
        margin-top: 6%;
    }

    nav a {
   
        padding: 2%;
        font-size: 3vh;
      }

      
    .info p{
        font-size: 2vh;
        width: 300px;
    }

    .info2 p {
        font-size: 2vh;
        width: 200px;
    }

    .info3 p {
        font-size: 2vh;
        width: 200px;
    }
}

@media screen and (min-width: 839px) and (max-width: 1000px) {
     

}


@media screen and (min-width: 677px) and (max-width: 1000px) {
    .end {
        margin-top: 1%;
    }

    nav a {
   
        padding: 2%;
        font-size: 3vh;
      }

      
 
}

@media screen and (min-width: 1000px) and (max-width: 1028px) {
    .end {
        margin-top: 1%;
    }

    nav a {
   
        padding: 2%;
        font-size: 3vh;
        width: 25vh;
      }

      

}